/* global: overrides bootstrap font with a Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&display=swap');

* {
  font-family: 'Encode Sans Condensed', sans-serif;
}

/* 404, footer */
.resized-logo {
  height: 100%;
  width: 140px;
}

/* header */
.social-list-margin {
  margin-right: 2em;
}
.social-link-style {
  display: inline-block;
  width: 113px;
}
.social-img-style {
  margin-right: 0.5em;
  height: 22px;
}
.input-label-style {
  font-size: 2.5rem;
  line-height: 1.2;
}

/* details */
.heading-line {
  line-height: 0.8em;
}
.greyscale-img-background {
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}
.poster-width {
  width: 100%;
}
.company-logo-margin {
  margin-right: 1em;
}

/* searchForm */
.result-list-width {
  width: 330px;
}
.overlay-style {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
